{% load  staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <title>Поиск рецепта</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</head>
<body ng-app="app" ng-controller="recipes_controller">
<form class="form" ng-submit="search()">
    {% csrf_token %}
    <div class="input-group search">
        <input class="form-control"
               id="search"
               maxlength="100"
               name="name"
               placeholder="Введите название рецепта"
               required="required"
               title="Введите название рецепта"
               type="text" ng-model="query"/>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary search_button">
            {% bootstrap_icon "search" %} Найти
        </button>
      </span>
    </div>

</form>

<ul class="recipes">
    <div class="recipe" ng-repeat="recipe in recipes">
        {% verbatim %}{{ recipe.name }}{% endverbatim %}
        <ul>
            <li class="ingredient" ng-repeat="ingredient in recipe.ingredients">
                {% verbatim %}{{ ingredient }}{% endverbatim %}
            </li>
        </ul>

    </div>
</ul>

</body>
</html>
